{% load staticfiles %}

{% block extra_css %}
<style>
    .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
        border: 1px solid rgb(80, 110, 181);
    }
    #map .leaflet-left {
        margin-top: 18px;
    }
    #map .leaflet-right {
        margin-top: 18px;
    }
    #map .leaflet-control-layers-expanded {
        padding: 6px 10px 6px 6px;
        color: #080843;
        background: #a3d2d382;;
        font-size: 1.1em;
    }
    #map .leaflet-control-layers-separator {
        height: 0;
        border-top: 1px solid #506eb5;
        margin: 5px -10px 5px -6px;
    }
    #map .leaflet-bar a, .leaflet-bar a:hover {
        background-color: #9ed3dcc9;
        border-bottom: 1px solid #506eb5;
        width: 26px;
        height: 26px;
        line-height: 26px;
        display: block;
        text-align: center;
        text-decoration: none;
        color: #080843;
    }
    #map .leaflet-iconLayers-layerTitleContainer {
        background: rgba(176, 200, 201, 0.7);
    }
    #map .leaflet-popup-content-wrapper, .leaflet-popup-tip {
        background: #cae0deb0;
        color: #333;
        box-shadow: 0 3px 14px rgba(0,0,0,0.4);
    }

    #map .leaflet-control-layers .leaflet-control-layers-group-name{
      padding-left:20px;
      display:block;
    }
    #map .leaflet-control-layers label{
      padding-left:10px;
      padding-right:10px;
      display:none;
    }
    #map .leaflet-control-layers label.trigger{
      position:absolute;
      left:0;
      padding:0;
      margin:0;
      display:block;
      cursor:pointer;
    }
    #map .leaflet-control-layers .trigger-radio{display:none;}
    #map .leaflet-control-layers .trigger-radio.checked ~ label{display:block;}
    #map .leaflet-routing-container {
       background: #a3d2d382;

    }
    #map .leaflet-control-route {
       background: url("{% static 'icon/route.ico' %}") center no-repeat;;

    }
</style>
{% endblock %}

<div id="map"></div>
