{% load staticfiles %}

{% block extra_css %}
<style>
    @media (min-width: 768px) {
      .modal-xl {
        width: 90%;
        max-width:1200px;
      }
    }
    #featureModal .modal-content {
        background-color: #fff;
    }
    #featureModal .table-striped>tbody>tr:nth-of-type(odd) {
        background-color: #47798f9e;
    }
    #featureModal .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th,
    #featureModal .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th,
    #featureModal .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
        border: 2px solid #28375b;
        color: #091636;
    }
    #featureModal .text-primary {
        color: #28375b;
    }
</style>
{% endblock %}

<div class="modal fade" id="featureModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-primary" id="feature-title"></h4>
      </div>
      <div class="modal-body" id="feature-info">
          <div id="geointel-info"></div>
          <hr>
          <div id="attribute-info"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
