{% load staticfiles %}

{% block extra_css %}
<style>
    body{
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        background-color: #fff;
    }
    #sidebar{
        margin-top:16px;
    }
    #sidebar .panel-default>.panel-heading {
        color: #fff;
        background-color: #506eb5;
        border-color: #91a4d1;
    }
    #sidebar .panel {
        color: #fff;
        background-color: #54b1c291;
        border-color: #dee8ff;
    }
    #sidebar .btn-default {
        color: #002ec8;
        background-color: #fff;
        border-color: #ccc;
    }
    #sidebar .table-hover>tbody>tr:hover {
        background-color: #82c0dc99;
        -webkit-transition: background-color 0.1s ease-in;
        transition: background-color 0.1s ease-in;
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }
    #sidebar .sidebar-table .feature-row>.feature-name,
    #sidebar .sidebar-table i{
        color: #506eb5;
        font-size: 1em;
    }
</style>
{% endblock %}

<div id="sidebar">
  <div class="sidebar-wrapper">
    <div class="panel panel-default" id="features">
      <div class="panel-heading">
        <h3 class="panel-title">Points of Interest
        <button type="button" class="btn btn-xs btn-default pull-right" id="sidebar-hide-btn"><i class="fa fa-chevron-left"></i></button></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-8 col-md-8">
            <input type="text" class="form-control search" placeholder="Filter" />
          </div>
          <div class="col-xs-4 col-md-4">
            <button type="button" class="btn btn-primary pull-right sort" data-sort="feature-name" id="sort-btn"><i class="fa fa-sort"></i>&nbsp;&nbsp;Sort</button>
          </div>
        </div>
      </div>
      <div class="sidebar-table">
        <table class="table table-hover" id="feature-list">
          <thead class="hidden">
            <tr>
              <th>Icon</th>
            <tr>
            <tr>
              <th>Name</th>
            <tr>
            <tr>
              <th>Chevron</th>
            <tr>
          </thead>
          <tbody class="list"></tbody>
        </table>
      </div>
    </div>
  </div>
</div>
