{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>GIFA</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'leaflet/1.5.1/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'iconlayers/iconLayers.css' %}">
    <link rel="stylesheet" href="{% static 'leaflet-measure/leaflet-measure.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-locatecontrol/0.67.0/L.Control.Locate.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <link rel="stylesheet" href="{% static 'leaflet/1.5.1/leaflet.wmslegend.js' %}">

    <link rel="stylesheet" href="{% static 'bootleaf/leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.css' %}">
    <link rel="stylesheet" href="{% static 'bootleaf/css/app.css' %}">

    <link rel="apple-touch-icon" sizes="70x70" href="{% static 'icon/favicon/ms-icon-70x70' %}">
    <link rel="apple-touch-icon" sizes="96x96" href="{% static 'icon/favicon/favicon-96x96' %}">
    <link rel="apple-touch-icon" sizes="150x150" href="{% static 'icon/favicon/ms-icon-150x150' %}">
    <link rel="icon" sizes="150x150" href="{% static 'icon/favicon/ms-icon-150x150.png' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'icon/favicon/favicon.ico' %}">

    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>
      {% block header %}
        {% include "dashboard/includes/block_navbar.html" %}
      {% endblock %}

      {% block content %}{% endblock %}

      <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.5/typeahead.bundle.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
      <script src="{% static 'leaflet/1.5.1/leaflet.js' %}"></script>
      <script src="{% static 'iconlayers/iconLayers.js' %}"></script>
      <script src="{% static 'leaflet.wms/dist/leaflet.wms.js' %}"></script>
      <script src="{% static 'leaflet-measure/leaflet-measure.js' %}"></script>
      <script src="{% static 'leaflet/1.5.1/leaflet.wmslegend.js' %}"></script>
      <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster-src.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-locatecontrol/0.67.0/L.Control.Locate.min.js"></script>
      <script src="{% static 'bootleaf/leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.js' %}"></script>
      <script src="https://unpkg.com/esri-leaflet/dist/esri-leaflet.js"></script>
      {% block extra_js %}{% endblock extra_js %}
  </body>
 </html>
