{% extends "dashboard/base_viz.html" %}

{% block content %}

{% load static %}

<div id="dataviz-1">
	{% block scripts %}
	<script src="{% static 'panel/js/viz.js' %}"></script>
	{% endblock %}

	<button class="spaced" onClick="switchChartStyle('instant')">Bars represents points in time</button>
	<button class="spaced" onClick="switchChartStyle('timespan')">Bars represent spans of time</button>
	<div class="spaced" style="float: left;">(Numbers of evacuated people over period of time)</div>

	<div class="svg-container" id="sc-one">
	    <svg id="test1"></svg>
	</div>
	<div class="svg-container" id="sc-two">
	    <svg id="test2"></svg>
	</div>
</div>

<div id="dataviz-2">
	{% block extra_js %}
	<script type="text/javascript" src="{% static 'panel/js/viz_2.js' %}"></script>
	{% endblock %}

	<div class="svg-container" id="loss_damage_chart">
		<svg id="loss_damage_svg"></svg>
	</div>
</div>

{% endblock %}