<!DOCTYPE html>
<html lang="en">
  <head>
     <style>
          body, html
           {
               margin: 0; padding: 0; height: 100%; overflow: hidden;
           }

           #arcgisStroymap
           {
               position:absolute; left: 0; right: 0; bottom: 0; top: 0px;
           }
     </style>
  </head>
  <body>
    <div id="arcgisStroymap">
        <iframe width="100%" height="100%" frameborder="0" src="https://storymaps.arcgis.com/stories/2c537f404b3243e38d79a54f4b717287" />
    </div>
 </body>
 </html>
