text {
    font: 12px sans-serif;
}

.container-datatable {
	margin-top: 30px;
	margin-left: 10px;
}

.dt-button {
	background-color: #41cf2b;
	border: none;
	color: white;
	cursor: pointer;
	padding: 8px;
}

.dt-button:hover {
	background-color: #0c4004;
}

.donation_style {
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
}

.gender {
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
}

.exposure {
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
}