text {
    font: 12px sans-serif;
}
.spaced {
    float: left;
    margin: 10px 0 10px 10px;
}

html, body, svg {
    margin-top: 35px;
    margin-bottom: 30px;
    padding: 0px;
}

.svg-container {
  display: inline-block;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  left: 0;
}

#dataviz-1 {
    margin-top: 35px;
    height: 300px;
}

#test1, #test2 {
    height: 320px;
}

#loss_damage_chart svg {
    padding-top: 70px;
    position: absolute;
    left: 30px;
    width: 97%;
    height: 420px;
}

.nvd3 line.nv-guideline { /* Hide the guideline */
    display: none;
    stroke-width: 0.0;
}
.nvd3 .nv-bars rect { /* fix the hover guideline to be snappy */
    transition: fill-opacity 0ms linear;
    -moz-transition: fill-opacity 0ms linear;
    -webkit-transition: fill-opacity 0ms linear;
}
.nvd3 .nv-x .nv-axis .x-axis-tick-mark {
    stroke: #000; /* black tick marks */
}
.nvd3 .nv-y .nv-axis .tick.zero line {
    stroke: #000; /* black line for the x axis */
}