text {
    font: 12px sans-serif;
}
.spaced {
    float: left;
    margin: 10px 0 10px 10px;
}
.svg-container {
    display: block;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
}
html, body, svg {
    margin-top: 35px;
    margin-bottom: 30px;
    padding: 0px;
}

#dataviz-1 {
    width: 100%;
}

#test1 {
    width: 100%
    height: 40%;
}

.svg.nvd3-svg {
    height: 40% !important;
}

.nvd3 line.nv-guideline { /* Hide the guideline */
    display: none;
    stroke-width: 0.0;
}
.nvd3 .nv-bars rect { /* fix the hover guideline to be snappy */
    transition: fill-opacity 0ms linear;
    -moz-transition: fill-opacity 0ms linear;
    -webkit-transition: fill-opacity 0ms linear;
}
.nvd3 .nv-x .nv-axis .x-axis-tick-mark {
    stroke: #000; /* black tick marks */
}
.nvd3 .nv-y .nv-axis .tick.zero line {
    stroke: #000; /* black line for the x axis */
}